<footer class="mt-auto">
  <div class="container">
    <div class="f-info">
      <div class="f-info-socials">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-square-instagram"></i>
        <i class="fa-brands fa-linkedin"></i>
      </div>
      <div class="f-info-links">
        <a href="/privacy">Privacy</a>&nbsp;·&nbsp;
        <a href="/terms">Terms</a>&nbsp;·&nbsp;
        <a href="/sitemap">Sitemap</a>
      </div>
      <div class="f-info-copy mt-2">
        &copy; <%= new Date().getFullYear() %> wanderLust, Inc.
      </div>
    </div>
  </div>
</footer>
